<div class="row">
    
    <div class="col-md-12">
        <br>
        <h2>
            Students
            <a href="/students/add" class="btn btn-dark float-right mx-4">Add New Student</a>
        </h2>
        <hr />
        <div class="table-responsive">
            <table class="table table-lg table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Student&nbsp;Num</th>
                        <th>Full&nbsp;Name</th>
                        <th>Email</th>
                        <th>Address</th>
                        <th>Status</th>
                        <th>Course ID</th>
                        <th class="d-flex justify-content-center vertical-center">
                            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-trash-fill mt-3" viewBox="0 0 16 16">
                                <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
                            </svg>
                        </th>
                    </tr>
                </thead>
                <tbody>
                {{#each students}}
                    <tr>
                        <td>{{studentNum}}</td>
                        <td><a href="/student/{{studentNum}}">{{firstName}} {{lastName}}</a></td>
                        <td><a href="mailto:{{email}}">{{email}}</a></td>
                        <td>{{addressStreet}} {{addressCity}} {{addressProvince}}</td>
                        <td>{{status}}</td>
                        <td><a href="/students?course={{course}}">{{course}}</a></td> {{!-- Filter Students based on course --}}
                        <td><a class="btn btn-danger" href="/students/delete/{{studentNum}}" title="Delete Student?">Remove</a></td>
                    </tr>
                {{/each}}
                </tbody>
            </table>
        </div>
    </div>
    {{#unless students}}
    <div class="col-md-12 text-center alert alert-dark">
        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-info-circle-fill mx-2" viewBox="0 0 16 16">
            <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
        </svg>

        <strong>{{message}}</strong>
    </div>
    {{/unless}}
</div>
<div class="page-navigator">
    <a id="top-button" href="#top" class="nav-control-button top-button px-2 py-1"><i class="bi bi-arrow-90deg-up"></i></a>
    <hr class="p-0 m-0">
    <a id="bottom-button" href="#bottom" class="nav-control-button bottom-button px-2"><i class="bi bi-arrow-90deg-down"></i></a>
</div>
<div id="bottom"></div>